@charset "UTF-8";

/* --- CSS Reset Starts --- */

/* Use a more-intuitive box-sizing model */
html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	/* Increase line-height */
	line-height: 1.5;
	/* Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

/* Inherit fonts for form controls */
input, button, textarea, select {
	font: inherit;
}

/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
	text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
	text-wrap: balance;
}

/* --- CSS Reset Ends --- */

html {
	min-height: 100%;
}

body {
	font-family: Arial, sans-serif;
	min-height: inherit;
	background-color: #eee;
	padding: 20px;
}

main {
	min-height: 100%;
	max-width: 800px;
	width: calc(100% - 40px);
	box-shadow: 0px 0px 5px 2px darkgray;
	margin-inline: auto;
	padding: 15px 20px 30px;
	background-color: antiquewhite;	
}

a {
	padding: 2px 4px;
}

h1 {
	color: #333;
}

ul li {
	margin: 10px 0;
}

ul li a {
	text-decoration: none;
	color: #0066cc;
}

ul li a:hover {
	text-decoration: underline;
}

nav ul {
	display: flex;
	list-style: none;
	gap: 2em;
	align-items: flex-start;
	padding: 0;
}

nav li {
	margin: 0;
}

nav a {
	display: block;
	padding: 6px 10px;
}

table caption {
	font-style: italic;
	font-size: 0.9em;
}

table caption::before {
	content: 'Table: ';
}

table {
	width: calc(100% - 30px);
	margin-right: auto;
}

thead tr {
	background-color: #C3C4C6;
}

thead tr:hover {
	background-color: #A6A9AC;
}

tbody tr:nth-child(odd) {
	background-color: #C7E5F5;
}

tbody tr:nth-child(even) {
	background-color: #DCE5A4;
}

tbody tr:nth-child(odd):hover {
	background-color: #9BD1ED;
}

tbody tr:nth-child(even):hover {
	background-color: #D2DD87;
}

td, th {
	padding: 4px 8px;
}

table.xs {
	max-width: 360px;
}

table.sm {
	max-width: 420px;
}

table.md {
	max-width: 540px;
}

table.lg {
	max-width: 600px;
}

table.xl {
	max-width: 680px;
}

form {
	border: 1px dashed #555;
	border-radius: 5px;
	padding: 15px 20px;
	margin: 10px 0 18px;
}

input, select {
	height: 32px;
	padding: 4px 8px;
	font-family: Tahoma, Verdana, sans-serif;
}

/* Stackoverflow snippet starts -------- */
/*
Source - https://stackoverflow.com/a/4298216
Posted by antonj, modified by community. See post 'Timeline' for change history
Retrieved 2026-09-15, License - CC BY-SA 4.0
*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
	-moz-appearance:textfield; /* Firefox */
}
/* Stackoverflow snippet ends -------- */

label:has(+ input[required])::after,
label:has(+ select[required])::after {
	content: '* ';
	color: #B22222;
	font-size: 1.2em;
}

.form-control {
	display: block;
	margin-bottom: 20px;
}

.form-control label {
	display: block;
	margin-bottom: 8px;
}

.form-control input {
	display: block;
	width: 100%;
	max-width: 360px;
}

.heading-link {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.alert {
	padding: 8px 12px;
	margin: 10px 0;
	border-radius: 4px;
}

.alert-success {
	background-color: honeydew;
	border: 1px solid darkseagreen;
}

.alert-error {
	background-color: mistyrose;
	border: 1px solid lightcoral;
}

.alert-warning {
	background-color: lightyellow;
	border: 1px solid gold;
}

.book-detail, .course-detail {
	background-color: honeydew;
	margin: 12px 16px;
	padding: 20px;
	border-radius: 8px;
	box-shadow: inset 0px 0px 8px 2px darkseagreen;
}
